@page "/"

@layout GameLayout

@inject NavigationManager NavigationManager

<PageTitle>About</PageTitle>

<div class="about-page-container">
    <div class="about-page-text">
        <h1>@Header</h1>
        <p>@Intro</p>
        <p>@CourseNote</p>
        <p>@GameDetails</p>
        <p>@Closing</p>
    </div>
    <div class="about-page-gallery">
        <img src="/images/expectis/expetis_intro.png" alt="Expeti's Game Intro" @onclick="() => NavigateToPage(expectPage)" />
        <img src="/images/tictactoe/tictactoe_intro.png" alt="Tic Tac Toe Intro" @onclick="() => NavigateToPage(ticPage)" />
        <img src="/images/manticore/hero_image.png" alt="Hunting the Manticore Intro" @onclick="() => NavigateToPage(manticorePage)" />
        <img src="/images/fountain/fountain_hero.png" alt="The Fountain Of Objects Intro Image" @onclick="() => NavigateToPage(fountainPage)" />
        <img src="/images/battle/battle_hero.png" alt="The Final Battle Intro Image" @onclick="() => NavigateToPage(battlePage)" />
    </div>
</div>

@code {
    private string Header = "Simple C# Games";
    private string Intro = "This project brings together a set of simple games I first built as C# console apps.";
    private string CourseNote = "I made these while working through the C# Player’s Guide and wanted to share them with the world.";
    private string GameDetails = "Each game features its own logic, rules, and a unique AI-generated intro image that reflects its theme.";
    private string Closing = "Hope you enjoy playing them as much as I enjoyed making them.";

    private string ticPage = "tictactoe";
    private string expectPage = "expetispage";
    private string manticorePage = "manticore";
    private string fountainPage = "fountain";
	private string battlePage = "finalbattle";

    private void NavigateToPage(string page)
    {
        NavigationManager.NavigateTo(page);
    }
}