@page "/tictactoe"

@using Simple_CSharp_Games.Games

@layout GameLayout

<PageTitle>@GameTitle</PageTitle>

<div class="tictactoe-page-container">

	@if (!showGame)
	{
		<div class="tictactoe-intro">
			<div class="tictactoe-page-content">
				<img 
				class="tictactoe-page-image" 
				src="/images/tictactoe/tictactoe_intro.png" 
				alt="Tic Tac Toe Intro" 
			/>
				<div class="tictactoe-page-text">
					<p>@GameDescription1</p>
					<p>@GameDescription2</p>
					<p>@GameDescription3</p>
					<p>@GameDescription4</p>
					<button class="btn btn-primary" @onclick="ShowGame">Play Tic Tac Toe</button>
				</div>
			</div>
		</div>
	}
	@if (showGame)
	{
		<TicTacToe />
	}

</div>


@code {

	private bool showGame = false;

	// Game description or instructions for Tic Tac Toe here
	private string GameTitle = "Tic Tac Toe";
	private string GameDescription1 = "Tic Tac Toe is a simple two-player game.";
	private string GameDescription2 = "Players take turns marking spaces on a 3x3 grid.";
	private string GameDescription3 = "Player 1 uses 'X' and Player 2 uses 'O'.";
	private string GameDescription4 = "First to line up three marks wins the game.";



	private void ShowGame()
	{
		showGame = true;
	}


}
